<head>
        <title>WEB322APP</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/site.css" type="text/css" >
</head>
{{{body}}}
     