<!doctype html>
<html lang="en">
    <head>
        <title>WEB322APP</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/site.css" type="text/css" >
    </head>
    <body>
        <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>myApp</h1>
                </div>
            </div>
        </div>
      </header>
     <nav>
		<div class="container">
            <div class="row">
                <div class="col-md-12">
			        <ul class = "pull-left">
                        <li><a href = "/"> Home </a></li>
                        <li><a href = "/about"> About </a></li>
                    </ul>
                    <ul class = "pull-right">
                        <li><a href = "/employees"> All Employees </a></li>
                        <li><a href = "/managers"> Managers </a></li>
                        <li><a href = "/departments"> Departments </a></li>
                    </ul>
                </div>
            </div>
		</div>
	</nav>
   <div class="container">
       {{{body}}} {{!-- The handlerbars will inject HERE!!!! --}}
   </div>
        <footer>
		    <div class="container">
                <div class = "row">
                    <div class="col-md-12">
				        <h2>&#169;2017 - Xiaochen Wang</h2>
			        </div>
                </div>
		    </div>
        </footer>
    </body>
</html>