        <div class="row">
            <div class="col-md-12">
        
                <h2>Add Department</h2>

                <br />
        
                <form method="post" action="/employees/add">
        
                    <fieldset>
                       
                        <div class="form-group">
                            <label for="departmentName">First Name:</label>
                            <input class="form-control" id="departmentName" name="departmentName" type="text" />
        
                    </fieldset>
        
                    <hr />
        
                    <input type="submit" class="btn btn-primary pull-right" value="Add Department" /><br /><br /><br />
        
                </form>
            </div>
        </div>