<div class="row">
    <div class="col-md-12">
        <h2>{{department.name}} - Department: {{ department.id}}</h2>
        <hr />
        <form method="post" action="/departments/update">
            <input type="hidden" name="departmentId" value="{{departmentId}}" />
                <div class="row">
                    <div class="col-md-11">
                        <div class="form-group">
                            <label for="departmentName">Department&nbsp;Name</label>
                            <input class="form-control" id="departmentName" name="departmentName" type="text" value="{{departmentName}}" />
                        </div>
                    </div>
                </div> 
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>
