<div class="row">
<div class="col-md-12">
        <h2>Images</h2>
        <hr />
   </div> 

    <div class="col-md-4">
        <img src="/images/uploaded/1542131119946.jpg" class="img-responsive img-thumbnail" />
    </div>
</div>
