<div class="row">
<div class="col-md-12">
        <h2>Images</h2>
        <hr />
   </div> 

    <div class="col-md-4">
        {{#each people}}
        <li>
            <img src="/images/uploaded/"{{this}} class="img-responsive img-thumbnail" />
        </li>
        {{/each}}
    </div>
</div>
