<div class="row">
<div class="col-md-12">
        <h2>Images</h2>
        <hr />
   </div> 

    {{#each}}
    <div class="col-md-4">
        <p>{{this}}</p>
        <img src="/images/uploaded/{{this}}" class="img-responsive img-thumbnail" />
        
    </div>
    {{/each}}
</div>
